@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    img,picture{
        max-width: 100%;
        display: block;
    },
    body{
        line-height: 1.5;
        min-height: 100vh;
        margin-inline: auto;
    }

}
@layer components{
    .btn{
       @apply py-1 px-1  border-2 border-black text-sm leading-5 font-medium rounded-md    
       hover:shadow-btn-sm  focus:outline-none
       active:shadow-none active:outline-none
       transition-all duration-300 ease-in-out }
       
    .btn-dark{
     @apply
         bg-dark text-white hover:text-black hover:bg-white
    }
    .btn-disabled{
        @apply cursor-not-allowed opacity-60 shadow-none transition-none hover:bg-dark hover:text-white
    }
    .feed-post{
        @apply border-2 border-gray-800 rounded-md mb-4
    }
    .profile-post{
        @apply border-t-2 border-gray-800
    }
    .profile-options{
        @apply flex justify-center  items-center gap-4 cursor-pointer text-sm uppercase text-center p-2
        rounded-md transition-all duration-300 ease-in-out
    }
    .modal-container{
        @apply w-screen h-screen absolute z-50 top-0 left-0 right-0 bg-opacity-50 bg-neutral-700
    }
}
